In [2]:
import pandas as pd
import numpy as np


df = pd.read_csv("student_exam_scores_12_13.csv")
df.head()

,student_id,hours_studied,sleep_hours,attendance_percent,Internal_marks,exam_score
0,S001,8.0,8.8,72.1,45,30.2
1,S002,1.3,8.6,60.7,55,25.0
2,S003,4.0,8.2,73.7,86,35.8
3,S004,3.5,4.8,95.1,66,34.0
4,S005,9.1,6.4,89.8,71,40.3

In [3]:

# ------------------------------------------------------------
# 12. Linear Regression from scratch (1 feature: hours_studied)
# ------------------------------------------------------------

# Extract features and target
x = df['hours_studied'].values
y = df['exam_score'].values
n = len(x)

# Hyperparameters
alpha = 0.01
epochs = 2000

# Initialize parameters
m = 0.0
c = 0.0

# Gradient Descent
for epoch in range(epochs):
    y_pred = m * x + c
    error = y_pred - y
    dm = (1/n) * np.sum(error * x)
    dc = (1/n) * np.sum(error)
    m = m - alpha * dm
    c = c - alpha * dc

# Predictions
y_pred = m * x + c

# Evaluation Metrics
mse = np.mean((y_pred - y)**2)
r2 = 1 - (np.sum((y - y_pred)**2) / np.sum((y - np.mean(y))**2))

print("ðŸ“˜ Linear Regression (1 Feature - hours_studied)")
print(f"Equation: exam_score = {m:.3f} * hours_studied + {c:.3f}")
print(f"MSE: {mse:.3f}")
print(f"RÂ² Score: {r2:.3f}")

ðŸ“˜ Linear Regression (1 Feature - hours_studied)
Equation: exam_score = 1.685 * hours_studied + 23.219
MSE: 18.227
RÂ² Score: 0.603